---
import App from '../components/App';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/us-election-comparisons/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>US Election Comparison</title>
	</head>
	<body>
		<App client:only="react" />
	</body>
</html>
